@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-mint-500: oklch(0.72 0.11 178);
    --color-common-1: white;
    --color-bg-1: #ebf1ff;
  }
  html,
  body,
  #root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    max-width: none;
  }
}

/* REUSABLE COMPONENT STYLES */
@layer components {
  .auth-page-wrapper {
    @apply min-h-screen w-full min-h-screen flex items-center justify-center;
    background-color: var(--color-bg-1);
  }

  .auth-form-wrapper {
    @apply flex flex-col items-center justify-center;
    background-color: var(--color-common-1);
    max-width: 540px;
    padding: 15px;
  }

  .logo-icon {
    max-width: 20%;
  }

  .btn-primary {
    @apply px-4 py-2 rounded-md font-medium;
    background-color: var(--color-mint-500);
    color: var(--color-common-1);
  }
}
